// Kanayo
$serif-text: 'Noto Serif', serif;
$sans-text: 'Noto Sans JP', sans-serif;
$color-beige: #D7AD7D;
$color-brown: #d67200;
// _base-style.scss



$footer-backgournd:rgb(41, 41, 41);
$footer-font:rgb(185, 185, 185);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;

  margin-left: 10%;
  margin-right: 10%;

  .press-lists{
    .each-press{
      border: solid;
      
      .press-image{
        display: none;
      }
      .detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
          margin-top:0;
          margin-bottom:0;
        }
      }

      .tag{
        p{
          margin-top:0;
          margin-bottom: 0;
        }
      }

      .press-content{
        display: flex;
        flex-direction: row;
        .press-image-medium{
          img{
            width:100%;
            height:auto;
          }
        }
        
      }

      
    }

    @media (min-width: 1200px) {

      .each-press {
        display: flex;
        flex-direction: row;

        .press-image {
          display: flex;
          margin-right: 10px;
          margin-bottom: 10px;
          img{
            width: 60%;
            height: auto;
          }
        }

        .press-other{
          
          .press-content{
            .press-image-medium{
              display: none;
            }
          }
          
        }
        
        

      .detail,
      .tag,
      .press-sentence {
        flex-grow: 0;
        width: 100%;
      }
      
      }
    
      
      
    }
  }


  .page-links{
    

    margin-left:40%;
    margin-right: 40%;
    padding: 3% 0 3% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    .current-link{
      background-color: $color-beige;
      color:white;
    }
    a{
      text-decoration: none;
      border:solid;
      border-width: 1px;
      font-size: 5px;
      padding: 5px 10px 5px 10px;
      background-color: white;
      color:$color-beige;

      &:hover{
        background-color: $color-beige;
        color:white;
      }
    }
  }




}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.toggle-trigger {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
        position: relative;
        display: inline-block;
        transition: transform 1s ease-in-out;
        margin-left: 5px;
      }
    .arrow.toggle-arrow-animation {
        transform: rotate(-90deg);
    }  
    
      
}
  

.contact-detail {
    background-color: rgba(248, 233, 206, 0.701);

    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .btns{
    button{
      color:black;
      background-color: white;
    }

    .color-change-btn{
      color: white;
      background-color: black;
    }
  }

  .hidden {
    display: none;
  }
  form{
    display: flex;
    flex-direction: column;
  }

    
}
  
.contact-detail.show {
    opacity: 1;
    max-height: 100%; 
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .hidden {
      display: none;
    }
    form{
      display: flex;
      flex-direction: column;
    }

    

}
  
  


footer{
  padding: 20px;
  text-align: center;
  color: $footer-font;
  background-color:$footer-backgournd;

  a{
    color:$footer-font;
    text-decoration: none;
  }
}



