$footer-backgournd:rgb(41, 41, 41);
$footer-font:rgb(185, 185, 185);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

}

.content {
  flex: 1;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.toggle-trigger {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
        position: relative;
        display: inline-block;
        transition: transform 1s ease-in-out;
        margin-left: 5px;
      }
    .arrow.toggle-arrow-animation {
        transform: rotate(-90deg);
    }  
    
      
}
  

.contact-detail {
    background-color: rgba(248, 233, 206, 0.701);

    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .btns{
    button{
      color:black;
      background-color: white;
    }

    .color-change-btn{
      color: white;
      background-color: black;
    }
  }

  .hidden {
    display: none;
  }
  form{
    display: flex;
    flex-direction: column;
  }

    
}
  
.contact-detail.show {
    opacity: 1;
    max-height: 100%; 
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .hidden {
      display: none;
    }
    form{
      display: flex;
      flex-direction: column;
    }

    

}
  
  


footer{
  padding: 20px;
  text-align: center;
  color: $footer-font;
  background-color:$footer-backgournd;

  a{
    color:$footer-font;
    text-decoration: none;
  }
}