// Kanayo
$serif-text: 'Noto Serif', serif;
$sans-text: 'Noto Sans JP', sans-serif;
$color-beige: #D7AD7D;
$color-brown: #d67200;
// _base-style.scss
$footer-backgournd:rgb(41, 41, 41);
$footer-font:rgb(185, 185, 185);
$contact-detail-background:#fff5ea;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

}


// Kanayyo nav
.nav{
  background-color: black;
  color:white;
    border: solid;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}
@media (min-width: 1200px){
  .nav {
    border: solid;
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}



//press 
@media (min-width: 1200px){
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-right: 0;
    padding-left: 180px;
  }
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 180px;
  margin-right: 0;
  padding:0 5% 0 5% ;
  // border:solid;

  .press-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .press-lists{
    .each-press{
      border-bottom-style: dotted;
      border-color: $color-beige;
      margin-top: 3%;
      .press-image{
        display: none;
      }
      .detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
          margin-top:0;
          margin-bottom:0;
        }
      }

      .tag{
        p{
          margin-top:0;
          margin-bottom: 0;
        }
      }

      .press-content{
        display: flex;
        flex-direction: row;
        .press-image-medium{
          img{
            width:100%;
            height:auto;
          }
        }
        
      }

      
    }

    @media (min-width: 1200px) {

      .each-press {
        display: flex;
        flex-direction: row;

        .press-image {
          display: flex;
          margin-right: 10px;
          margin-bottom: 10px;
          img{
            width: 60%;
            height: auto;
          }
        }

        .press-other{
          
          .press-content{
            .press-image-medium{
              display: none;
            }
          }
          
        }
     
      .detail,
      .tag,
      .press-sentence {
        flex-grow: 0;
        width: 100%;
      }
      
      }
    
    }
  }


  .page-links{
    margin-left:40%;
    margin-right: 40%;
    padding: 3% 0 3% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    .current-link{
      background-color: $color-beige;
      color:white;
    }
    a{
      text-decoration: none;
      border:solid;
      border-width: 1px;
      font-size: 5px;
      padding: 5px 10px 5px 10px;
      background-color: white;
      color:$color-beige;

      &:hover{
        background-color: $color-beige;
        color:white;
      }
    }
  }
}




@media (min-width: 1200px){
  .contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    //contact page
    .contact-menus{
      width:80%;
      margin-right: 0;
      margin-left:0;
      padding-left: 0;
      .contact-menu{
        padding-top: 0;
        margin-top:0;
      }
    }
    h2{
      font-size: 15px;
    }
}
}

//contact-container
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    //contact page
    .contact-menus{
      width:80%;
      margin-right: 0;
      margin-left:0;
      padding-left: 0;
      .contact-menu{
        padding-top: 0;
        margin-top:0;
      }
    }
    h2{
      font-size: 15px;
    }
}




.toggle-trigger {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-width:1px;
    border-color:$color-beige;
    padding-bottom: 5%;
    padding-top:5%;
    margin-bottom: 0;
    margin-left:0;
    .arrow {
        position: relative;
        display: inline-block;
        transition: transform 1s ease-in-out;
        margin-left: 5px;
      }
    .arrow.toggle-arrow-animation {
        transform: rotate(-90deg);
    }     
}

.back-color{
  background-color: $contact-detail-background;
}



.contact-detail {
    background-color:$contact-detail-background;
    padding: 3% 3% 3% 3%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    // reservation part
    .reservation-title{
      justify-self: left;
      .h4{
        img{
          margin-right: 1px;
        }
      }
    }
    

    .reservation-list{
      background-color: white;
      margin-left: 1%;
      margin-right:1%;
      padding-left: 2%;
      padding-right:2%;
      width:80%;

      .each-reservation{
        border-bottom-style:dotted;
        border-width: 1px;
        border-color:$color-beige;

        .reservation-location{
          display: flex;
          flex-direction: column;

          h4{
            
            margin:0 0 0 0;
            padding:0 1px 0 1px;
            img{
              margin-right:1%;
            }
          }

          .small-font{
           
            margin:0 0 0 0;
            padding:0 0 0 0;
            color:$color-beige;
            font-size: 12px;
          }
        }

        .reservation-other{
          display:flex;
          flex-direction:row;
          justify-content: space-between;
          
          p{
            
            width:100%;
            img{
              margin-right:1%;
            }
          }
          
        }
      }
    }

    .detail-title{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      // border:solid;
      padding-top:1%;
      padding-bottom: 1%;

      h3{
        font-size: 25px;
        // border: solid;
        margin-top: 0;
        margin-bottom:0;
      }
      p{
        // border:solid;
        font-size: 13px;
        margin-top: 0;
        margin-bottom:0;
        color: $color-beige;
      }
    }

  .btns-container{
    width:100%;
    display: flex;
    flex-direction: column;
    .btns{
      display:flex;
      flex-direction: row;
      button{
        width:50%;
        height: 50px;
        color:black;
        border-width: 1px;
        background-color: white;
      }

      .color-change-btn{
        color: white;
        background-color: black;
      }
    }  
  }

  .contact-forms{
    width:100%;
    form{
      width:100%;
      display: flex;
      flex-direction: column;
      
      .each-form-group{
        width:100%;
        margin-top:4%;
        margin-bottom:4%;
        
        display: flex;
        flex-direction: column;

        input,select{
          height:50px;
          margin-top: 2%;
          margin-bottom: 2%;
        }

        textarea{
          height:200px;
        }

        .each-form-file{
          height:50px;
          border: solid;
          border-width: 1px;
          background-color: white;
          input{
           
            margin:0 0 0 0;
            height:50px;
            
            width:100%;
            color:white;
            background-color: white;
          }
        }

        .small-font{
          font-size: 12px;
        }
      }

      .submit{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;
        
        button{
          margin-top: 0;
          padding-top: 0;
          justify-self: center;
          align-self: center;
          border-width: 1px;
          width:40%;
          height:30px;
          color: white;
          background-color: black;

          &:hover{
            color:black;
            background-color: white;
          }
        }
      }
    }
  }


  .hidden {
    display: none;
  }
  

    
}
  
.contact-detail.show {
    opacity: 1;
    max-height: 100%; 
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .hidden {
      display: none;
    }
    form{
      display: flex;
      flex-direction: column;
    }

    

}
  


  

// footer
footer{
  padding: 20px;
  text-align: center;
  color: $footer-font;
  background-color:$footer-backgournd;
  margin-left: 0;
  font-size:10px;

  .footer-links{
    border-bottom-style: solid;
    border-color:$footer-font ;
    border-width: 1px;
    display: flex;
    justify-content: space-evenly;
  }

  a{
    color:$footer-font;
    text-decoration: none;
  }
}

@media (min-width: 1200px){
  footer{
    display: flex;
    justify-content: space-between;
    margin-left:180px;
    .footer-links{
      width:30%;
      border-bottom-style: none;
      display: flex;
      justify-content: space-between;
    }
  
    a{
      color:$footer-font;
      text-decoration: none;
    }
  }
}



