// @import "base-style";


.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas: "navigation main";
    grid-template-columns: 182px 1fr;
}

header {
    grid-area: navigation;
    background: #000;
    color: #fff;
    font-family: $sans-text;
    // padding: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: auto 1fr auto;
    z-index: 999;
}

.header {
    &-group-logo {
        width: 95%;
        margin: 0 auto 2rem;
        transform: translateX(10px);
        opacity: 1;
        padding: 1rem;
        padding-bottom: 0;
    }

    &-brands-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: all 1s;
        cursor: pointer;

        img {
            width: 50px;
            cursor: pointer;
        }

        .brand-name-container {
            color: #fff;
            font-family: $sans-text;
            position: absolute;
            left: 100%;
            z-index: 1;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: all 1s;
            
            &::before, &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: calc(100% + 50px);
                height: 1px;
                background: rgba(255,255,255,.75);
            }
    
            &::before {
                transform: translate(-90px, 5px) scaleX(0);
                transform-origin: left;
            }
    
            &::after {
                right: 0;
                transform: translate(20px, 14px);
                transform-origin: right;
            }
    
            .brand-category {
                font-size: .7rem;
                margin: 0;
            }
    
            .brand-name {
                font-size: 1.2rem;
                margin: 0;
                margin-top: .5rem;
            }
    
            .text-icon {
                position: absolute;
                width: 10px;
                right: 0;
                transform: translate(20px, -6px);
            }
        }

        &.active {
            transform: translateX(40px);

            .brand-name-container {
                opacity: 1;
                pointer-events: unset;

                &::before {
                    animation: beforeBorder 2s ease-in-out forwards;
                }
                &::after {
                    animation: afterBorder 2s ease-in-out forwards;
                }
            }
        }
    }

    

    &-lang {
        padding: 1rem;
        padding-top: 0;
        ul {
            list-style: none;
            display: flex;
            padding: .8rem;
            padding-bottom: 0;
            margin: 0;
            border-top: 1px solid #888888;
            justify-content: space-around;
            align-items: center;

            li {
                font-size: .7rem;
                padding: 1px 4px;
                cursor: pointer;
                &.active {
                    border: 1px solid #fff;
                }
            }
        }
    }

}

nav {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
    overflow: hidden;

    &-hamburger {
        position: absolute;
        inset: 0 0 auto auto;
        width: 80px;
        height: 80px;
        padding: 10px;
        z-index: 2;
        background: $color-beige;
        color: #fff;
        cursor: pointer;
        pointer-events: initial;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 999;

        & > div {
            width: 50%;
            height: 1px;
            background: #fff;
            transition: all 1s;
        }

        &.open {
            div:nth-child(1) {
                transform: rotate(45deg) translate(8px, 8px);
            }
            div:nth-child(2) {
                opacity: 0;
            }
            div:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        & > p {
            margin: 0;
            font-family: $sans-text;
            font-size: .6rem;
            transition: all 1s;
        }
    }

    &-container {
        display: flex;
        width: 0%;
        height: 100%;
        color: #fff;
        font-family: $sans-text;
        opacity: 0;
        pointer-events: none;
        transition: width 0s, opacity 1s;

        &.open {
            width: 100%;
            opacity: 1;
            pointer-events: initial;
        }


        #menu-side {
            width: 20%;
            min-width: 300px;
            background: {
                image: url(images/bg_gmavi_left_x2.jpg);
                size: cover;
                position: center;
            };
            
            & > div {
                width: 182px;
                height: 100%;
                padding: 1rem;
                display: grid;
                grid-template-rows: 80px 1fr 30px;
            }
        }

        #menu-main {
            width: 100%;
            height: 100%;
            padding: 4rem 5rem;
            background: {
                image: url(images/bk_nav.jpg);
            };
            color: $color-brown;
            font-family: $serif-text;
            font-size: 1.15rem;
            opacity: 0;
            transition: opacity 0s;

            &-pagelist {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    width: fit-content;
                    margin: 2rem 0;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    transition: all .25s;

                    &:hover {
                        transform: translateX(50px);
                    }

                    &::before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        display: block;
                        background: {
                            image: url(images/ico_snowing_light.svg);
                            size: cover;
                        };
                    }

                    &:hover {
                        &::before {
                            background-image: url(images/ico_snowing.svg);
                        }
                    }
                }

                #our-menu {
                    cursor: pointer;
                    &.chosen {
                        left: 30%;
                        &::before {
                            background-image: url(images/ico_snowing.svg);
                        }
                    }
                }
            }

            #buttons {
                margin-top: 60px;

                .menu-button {
                    display: block;
                    width: 200px;
                    padding: .8rem;
                    margin-bottom: 1rem;
                    border: 1px solid #000;
                    background: #fff;
                    color: #000;;
                    font-family: $sans-text;
                    font-weight: 400;
                    font-size: .8rem;
                    text-align: center;

                    i {
                        padding-right: .5rem;
                        font-size: 1rem;
                    }

                    &:hover {
                        background: #000;
                        color: #fff;
                    }
                }
            }

            #menu-cornerimage {
                width: 450px;
                height: 450px;
                position: absolute;
                inset: auto 0 0 auto;

                img {
                    transform: rotate(45deg);
                    width: 150%;
                    height: 150%;
                    transform-origin: center;
                    position: absolute;
                    left: 25%;
                    top: 25%;
                }
            }
        }

        &.open #menu-main {
            opacity: 1;
        }

        #our-menu-container {
            position: absolute;
            inset: 8rem auto auto 50%;
            transform: translate(-50%, 0);
            opacity: 0;
            transition: all 1s;

            h3 {
                font-family: $sans-text;
                font-size: .8rem;
                font-weight: 400;
                color: #000;
                letter-spacing: 1px;
            }

            &.chosen {
                opacity: 1;
            }

            .takeout {
                margin-top: 80px;
            }
        }

        .menu-container-list {
            width: 300px;
            padding: 0;
            margin: 0;
            list-style: none;
            font-family: $sans-text;
            font-weight: 400;
            color: #000;

            li {
                width: inherit;;
                height: 60px;
                display: flex;
                align-items: center;
                border-bottom: 1px dashed $color-beige;

                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                span:first-child {
                    font-size: .9em;
                }

                span:last-child {
                    font-size: .5em;
                }
            }

        }

    }
}

main {
    grid-area: main;
    background-color: #000;

    #brand-image {
        width: 100%;
        height: 100%;
        background: {
            image: url(images/1.jpg);
            size: cover;
            position: center;
        };
        transition: all 1.5s;
    }

    #brand-image-sm {
        display: none;
        width: 100%;
        height: 100%;
        background: {
            image: url(images/1sm.jpg);
            size: cover;
            position: center;
        };
        transition: all 2s;
    }


}

@keyframes beforeBorder {
    from {
        transform: translate(-90px, 5px) scaleX(0);
    }
    to {
        transform: translate(-90px, 5px) scaleX(1);
    }
}
@keyframes afterBorder {
    from {
        transform: translate(20px, 14px) scaleX(0);
    }
    to {
        transform: translate(20px, 14px) scaleX(1);
    }
}

#lang-popup {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    padding: 1rem;
    // aspect-ratio: 4/3;
    border-radius: 15px;
    background: rgba(0,0,0,.5);
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-family: $sans-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // opacity: 0;
    transition: all .5s;


    &-tba {
        color: #fff;
        font-size: 3rem;
        text-align: center;
        P {
            margin: 1rem 0;
        }
    }

    #closebtn {
        p {
            width: fit-content;
            padding: .5rem 1.2rem;
            background: rgba(255,255,255,.7);
            color: #000;
            border-radius: 50px;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                background: rgba(0,0,0,.5);
                color: #fff;
            }
        }
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0 auto auto 0;
        // background: transparent;
        backdrop-filter: blur(5px);
        z-index: -1;
        border-radius: inherit;
        transition: inherit;
    }

    &.popup {
        // opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}