* {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "navigation main";
  grid-template-columns: 182px 1fr;
}

header {
  grid-area: navigation;
  background: #000;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-rows: 80px 1fr 30px;
}

.nav-group-logo {
  width: 95%;
  margin: 0 auto 2rem;
  transform: translateX(10px);
  opacity: 1;
}
.nav-brands-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 1s;
  cursor: pointer;
}
.nav-brand img {
  width: 50px;
  cursor: pointer;
}
.nav-brand .brand-name-container {
  position: absolute;
  left: 100%;
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}
.nav-brand .brand-name-container::before, .nav-brand .brand-name-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% + 50px);
  height: 1px;
  background: rgba(255, 255, 255, 0.75);
}
.nav-brand .brand-name-container::before {
  transform: translate(-90px, 5px) scaleX(0);
  transform-origin: left;
}
.nav-brand .brand-name-container::after {
  right: 0;
  transform: translate(20px, 14px);
  transform-origin: right;
}
.nav-brand .brand-name-container .brand-category {
  font-size: 0.7rem;
  margin: 0;
}
.nav-brand .brand-name-container .brand-name {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 0.5rem;
}
.nav-brand .brand-name-container .text-icon {
  position: absolute;
  width: 10px;
  right: 0;
  transform: translate(20px, -6px);
}
.nav-brand.active {
  transform: translateX(40px);
}
.nav-brand.active .brand-name-container {
  opacity: 1;
  pointer-events: unset;
}
.nav-brand.active .brand-name-container::before {
  animation: beforeBorder 2s ease-in-out forwards;
}
.nav-brand.active .brand-name-container::after {
  animation: afterBorder 2s ease-in-out forwards;
}
.nav-lang ul {
  list-style: none;
  display: flex;
  padding: 0.8rem;
  padding-bottom: 0;
  margin: 0;
  border-top: 1px solid #888888;
  justify-content: space-around;
  align-items: center;
}
.nav-lang ul li {
  font-size: 0.7rem;
  padding: 1px 4px;
}
.nav-lang ul li.active {
  border: 1px solid #fff;
}

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
#menu-hamburger {
  position: absolute;
  inset: 0 0 auto auto;
  width: 80px;
  height: 80px;
  padding: 10px;
  z-index: 2;
  background: #D7AD7D;
  color: #fff;
  cursor: pointer;
  pointer-events: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#menu-hamburger > div {
  width: 50%;
  height: 1px;
  background: #fff;
  transition: all 1s;
}
#menu-hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}
#menu-hamburger.open div:nth-child(2) {
  opacity: 0;
}
#menu-hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
#menu-hamburger > p {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.6rem;
  transition: all 1s;
}
#menu-container {
  display: flex;
  width: 0%;
  height: 100%;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: width 0s, opacity 1s;
}
#menu-container.open {
  width: 100%;
  opacity: 1;
  pointer-events: initial;
}
#menu-container #menu-side {
  width: 20%;
  min-width: 300px;
  background-image: url(images/bg_gmavi_left_x2.jpg);
  background-size: cover;
  background-position: center;
}
#menu-container #menu-side > div {
  width: 182px;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 80px 1fr 30px;
}
main {
  grid-area: main;
}
main #brand-image {
  width: 100%;
  height: 100%;
  background-image: url(images/1.jpg);
  background-size: cover;
  background-position: center;
  transition: all 2s;
}
main #brand-image-sm {
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(images/1sm.jpg);
  background-size: cover;
  background-position: center;
  transition: all 2s;
}

@media (max-width: 1200px) {
  main #brand-image {
    display: none;
  }
  main #brand-image-sm {
    display: block;
  }
}
@keyframes beforeBorder {
  from {
    transform: translate(-90px, 5px) scaleX(0);
  }
  to {
    transform: translate(-90px, 5px) scaleX(1);
  }
}
@keyframes afterBorder {
  from {
    transform: translate(20px, 14px) scaleX(0);
  }
  to {
    transform: translate(20px, 14px) scaleX(1);
  }
}/*# sourceMappingURL=home-style.css.map */